@model Performer

@{
    string strTitle = "Изменение исполнителя";
    ViewBag.Title = strTitle;
}

<div>
    <form asp-area="Admin" asp-controller="Performers" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly">
        </div>
        <div>
            <label asp-for="PerformerName"></label>
            <input asp-for="PerformerName" />
            <span asp-validation-for="PerformerName"></span>
        </div>
        <div>
            <label asp-for="AvatarFile"></label>
            <input asp-for="AvatarFile" type="file" />
            <span asp-validation-for="AvatarFile"></span>
        </div>
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </form>
    <a asp-area="Admin" asp-controller="Performers" asp-action="Index">Вернуться к списку</a>
</div>


<!--
    Id?
    PerformerName
    AvatarPath

-->
